<!--- body -->
    <header>
        <%= image_tag 'logo.png' %>
        <!-- Search -->
        <div id="search">
          <input type="text" name="searchcriteria" id="searchcriteria">
          <a href="#" id="SearchButton">Search</a>
        </div>
        <a href="/links/new" class="css3-button submit-link"><span>Submit Link</span></a>
    </header>
    <div class="clearfix"></div>
    <div id="main" role="main">
    <!-- Add Link form -->
    <% if @links.count() > 0 -%>
        <% @links.each do |link|%>
            <ul class="link">
                <li>
                    <a href="<%= link.link %>"><%= link.title %></a>
                    <ul class="sub-menu">
                        <li>Added by <a href="#" class="submitter-link"><%= User.find(link.user_id).email %></a> on <%= link.created_at.strftime("%d %M %Y") %></li>
                        <li>|</li>
                        <li><a href="#" class="comment-link">0 Comments</a></li>
                    </ul>
                </li>
                <li>
                  <div class="tags">
                    <a href="#"><%= Tag.find(link.tag_id).name %></a>
                  </div>
                </li>
            </ul>
        <% end %>
    <% end %>
    </div>
    <div class="secondary-content-highlight">
      <a href="invitepeople" class="css3-button-blue" id="Invitepeople">Invite your team</a>
      <p>or</p>
      <% href = "javascript:(function(){var element=document.createElement("'"script"'");element.setAttribute("'"src"'","'"http://blendmarks.heroku.com/javascripts/jq1.4.4._bm.js"'");element.setAttribute("'"language"'","'"javascript"'"); document.getElementsByTagName("'"body"'")[0].appendChild(element); var div = document.createElement("'"div"'"); div.id=%22usertoken%22; div.innerHTML = %22" + current_user.bookmarkletcode + "%22; div.style.display=%22none%22; document.getElementsByTagName("'"body"'")[0].appendChild(div);  })();"  %>
      <p>Drag this into your favourites toolbar</p>
      <a href='<%= href %>' class="css3-button">Add BlendMark</a>
      <div>
      </div>
    </div>
    <div class="secondary-content-sub-items">
      <h3>Browse by tag</h3>
      <div class="tags">
        <% Tag.find(:all).each do |t| %>
            <a href="#"><%= t.name %></a>
        <% end %>
      </div>
    </div>
    <footer>
    </footer>
