<!--- body -->
<div class="add-link-form">
    <%= form_for(@link) do |f| -%>
        <div class="clearfix errorbox">
        </div>
        <label>Title</label>
        <%= f.text_field :title, :id => "txttitle", :class => "small" -%>
        <label>Link</label>
        <%= f.text_field :link, :id => "txtlink", :class => "small", :value => session[:id] -%>
        <% session[:id] = nil -%>
        <label>Description</label>
        <%= f.text_area :description,:class => "small",:id =>"txtdescription",:rows => "0" -%>
        <label>Tag</label>
        <input type="text" class="small" name="newtag" id="txttag">
        <a href="#" id="addlink" class="css3-button">Save link</a>
    <% end -%>
</div>
<%= stylesheet_link_tag "style_auto_complete" %>
<%= javascript_include_tag "jquery-1.4.4.min" %>
<%= javascript_include_tag "jquery.autocomplete" %>
<script type="text/javascript" language="JavaScript">
    $(function () {
       try
       {
        var options = { 'serviceUrl' :'../autocomplete' };
        $('#txttag').autocomplete(options);
       }catch(e) {
       }
   });
</script>
