<div id="login-box-container">
    <div id="center">
        <%= image_tag "logo.png" %>
        <div id="login-box">
        <%= form_for(@user_session,:url => "/user_sessions") do |f| %>
            <h1>Login</h1>
            <% if @user_session.errors.any? %>
                <div class="alert-error">
                    Looks like your username or password is wrong.
                </div>
            <% end %>
            <fieldset>
                <label>Email</label>
                <%= f.text_field :username, :class => "small" %>
            </fieldset>
            <fieldset>
                <label>Password</label>
                <%= f.password_field :password, :class => "small" %>
            </fieldset>
            <%= link_to 'Login', "#", :id => "BtnFormSubmit" ,:class => "css3-button" -%>
            <p class="forgot-password">Did you <%= link_to "forget your password?", :controller => "users", :action => "forgotpassword" %>or do you need to <%= link_to 'Register', register_url  -%></p>
            <div class="clearfix"></div>
        <% end %>
        </div>
    </div>
</div>
