<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <%= render :partial => "layouts/exceptionhub" %>
    <%= render :partial => "layouts/headertag" %>
    <%= stylesheet_link_tag "comingsoon" %>
</head>
<body>
  <div id="container">
    <header>
      <%= image_tag "logo.png" %>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </div> <!--! end of #container -->
  <%= render :partial => "layouts/googleanalytics" %>
</body>
</html>